@import 'tailwindcss';

@theme {
  --color-primary: rgba(50, 50, 50, 0.6);
}

* {
  scrollbar-width: thin;
  scrollbar-color: black transparent;
}

@keyframes slidein {
  from {
    margin-left: 100%;
  }

  to {
    margin-left: 0%;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0);
  }
}

.chat-message {
  animation-duration: 200ms;
  animation-name: slidein;
}

.chat-box {
  animation-duration: 200ms;
  animation-name: slideUp;
}
